/* Basic Elements */
body{
	margin:0;
	padding:0;
	color:#404040;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:400;
	font-style:normal;
    font-size: 1em;
    line-height: 1.6;
    background-color:#777;
    background:linear-gradient(#444444, #BBBBBB,#BBBBBB);
}
.center-page{
	max-width:90%;
	margin:0 auto;
	padding:0 40px;
	overflow:auto;
	/*border:1px solid black;*/
}
nav{
	display:inline-block;
	background:#107C10;
}
nav ul{
	height:125px;
	margin:0;
	padding:0;
}
nav ul li{
	height:125px;
	display:inline-block;
	border-left:1px solid #005804;
}
nav ul li.first{
	border:none;
}
nav ul li a{
	height:125px;
	line-height:160px;
	color:#fff;
	display:block;
	text-decoration:none;
	padding:0 30px;
	text-transform:uppercase;
}
/* icons */
.tournaments{
	background:url("../images/control2.png");
	background-repeat:no-repeat;
	background-position: center 18px;
}
.global{
	background:url("../images/global.png");
	background-repeat:no-repeat;
	background-position: center 12px;
}
.gallery{
	background:url("../images/camera.png");
	background-repeat:no-repeat;
	background-position: center 18px;
}
#bg{
	background-color:#fff;
	background:linear-gradient(#F3F3F3, #FFFFFF,#FFFFFF);
}
header h1{
	font-family: 'Lato', sans-serif;
	font-weight:300;
	font-size:3.75em;
	margin:20px 0 10px 0;
	color:green;
}
section{
	overflow:auto;
}
section #citation{
	background-color: #fff;
    background: linear-gradient(#F5F5F5,#DEDEDE);
    padding: 5px;
    margin-bottom: 10px;
    border-top: 1px solid #CACACA;
    border-bottom: 1px solid #CACACA;
}
section #citation p{
	margin:0;
	padding:0;
}
section h2{
	font-family: 'Lato', sans-serif;
	font-weight:300;
	font-size:3em;
	line-height:1;
	font-style:italic;
}
section figure{
	margin:0;
	padding:0;
}
section figure img{
	width:100%;
	height:auto;
}
section article{
	width:70%;
	float:left;
	margin:30px 20px 30px 0;
}
table{
	width:100%;
	border-collapse: collapse;
}
th,td{
	text-align:left;
	background-color:green
	border-collapse: collapse;
}
tr th{
	color:#fff;
	padding:10px;
	font-size:1em;
}
tr.head th{
	background-color:#777;
	text-transform:uppercase;
	border-bottom:3px solid #333;
}
tr td,
tr th{
	background-color:green;
}
tr.even td,
tr.even th{
	background-color:#68C35D;
}
section aside{
	width:25%;
	float:left;
	margin-top:20px;
}
section aside figure{
	width:49%;
	margin:0;
	padding:0;
	display:inline-block;
}
section aside figure img{
	max-width:100%;
	height:auto;
}
form{
	clear:both;
	margin-top:40px;
	padding-top:40px;
	border-top:1px solid #D6D6D6;
}
form div{
	margin:20px 0;
}
form h1{
	margin:0;
	color:#99C70C;
}
form h2{
	margin-top:0;
	font-family: 'Lato', sans-serif;
	font-weight:300;
	font-size:3em;
	line-height:1;
}
input[type="text"],
input[type="email"]{
	width:100%;
	padding:20px 0 20px 20px;
	opacity:.5;
}
input[type="text"]:focus,
input[type="text"]:hover{
	background-color:#d0e2f0;
	border:1px solid #777;
}
input[type="email"]:focus,
input[type="email"]:hover{
	background-color:#d0e2f0;
	border:1px solid #777;
}
textarea{
	width:50%;
}
footer{
	clear:both;
}
footer p,
footer ul,
footer ul li{
	display:inline-block;
}
footer ul{
	padding:0;
}
footer ul li{
	list-style:none;
}
footer ul li a{
	color:#98d0f1;
}
















